header {
  display: flex;
  justify-content: center;
  padding: 40px 40px;
  margin-top: 40px;
  font-size: 50px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgba(158, 67, 34, 0.856);
}
p {
  display: flex;
  justify-content: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgba(199, 121, 92, 0.856);
}
